body{
	color:black;
	background-color:rgb(248, 242, 232);
	left-margin:10px;
	right-margin:10px;
	padding: 0% 10%;
	align-content: center;
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1 {
	size: 12px;
}
h1, h2, h3,
h4, h5, h6, p, small {
	text-align: center;
}
h1 {
	font-size: 4vw;
}
p.column {
	width: 60%;
	min-width: 400px;
	margin: auto;
}
small {
	font-size: 50%;
}
table{
	width: 95%;
	margin: auto;
	border-collapse:collapse;
	table-layout:fixed;
}
td
{
	/* border: rgba(224, 119, 70, 1) 1px solid; */
	word-wrap:break-word;
	text-align: center;
	margin: auto;
}

table#close{

	table-layout:default;
	border-collapse:seperate;
	border-spacing: 5px 5px;
	border:none;
	vertical-align:top;
}
table.none
{
	border:none;
	vertical-align:top;
}
table.none td
{
	border: none;
}

/* Header table */

table#header{
	width:80%;
	border-collapse:collapse;
	table-layout:fixed;
}
table#header tr{
	height: 300px;
}
table#header td.image{    
	width: 0;
	min-width: fit-content;
}


/* Status table */
table#status 
{
	/* color: white; */
	width: auto;
	margin: 50px auto auto auto;
	width: 60%;
}
table#status tr
{
	vertical-align: top;
}
/* New form table */
div#new_form{
	width: 20%;
	min-width: 200px;
	background-color: #333;
	color: white;
	padding:  2px 10px;
	margin: 100px auto;
}
table#new_form
{
	border-width: 10px;
	border:none;
	vertical-align:top;
	width: max-content;
	margin: auto;
	padding: 5%;
}

/* Top donators */
table#top_donators
{
	color: white;
	width: auto;
	margin:auto;
	width: 60%;
}
table#top_donators th{
	color: black;
}
table#top_donators tr td
{
	width: 30%;
}
table#top_donators tr td.left.under {
	background-color: #302e28;
}
table#top_donators tr td.middle.under {
	background-color: #4e4c42;
}
table#top_donators tr td.right.under {
	background-color: #141411;
}
table#top_donators tr td.left {
	font-size: 100%;
}
table#top_donators tr td.middle {
	font-size: 120%;
}
table#top_donators tr td.right {
	font-size: 90%;
}

/* Wheel of donors */
@keyframes horizontalcarousel {
  0%, 20%, 45% {
		translate: 0% 0;
	}
  10%, 30% {
		translate: -100% 0;
	}
}
div#wheel_of_donors
{
	z-index: 2;
	overflow: clip;
	margin: auto;
	width: 200px;
	/* background: blue; */
	background: linear-gradient(90deg, rgb(248, 242, 232) 0%, rgba(0,0,0,0) 10%, rgba(0,0,0,0) 90%, rgb(248, 242, 232) 100%); 
}

div#wheel_of_donors table
{
	margin-left: 50%;
	position: relative;
	z-index: -1;
}
div#wheel_of_donors table.spinning
{
	animation-name: horizontalcarousel;
	animation-duration: 10s;
	animation-direction: alternate;
	animation-iteration-count: 1;
	animation-timing-function: ease-out;
	animation-fill-mode: forwards;
}
div#wheel_of_donors table tr td
{
	/* border:black;
	border-style: solid;
	background-color: rgb(179, 178, 159); */
	width: 100px;
	padding: 0 20px;
}

/* Donor table */
table#donor_list
{
	margin-bottom: 30px;
}
table#donor_list tr.title td
{
	background:rgb(248, 242, 232);
	color: black;
}
table#donor_list tr.header th
{
	background:#0f1113;
	color: white;
}
table#donor_list tr {
	height: 50px;
}
table#donor_list tr:nth-child(even)
{
	background:#dfddd2;
}
table#donor_list tr:nth-child(odd)
{
	background:rgb(211, 207, 194);
}
table#donor_list tr.done
{
	color: grey;
}
td.centered {
	vertical-align: middle;	
}
tr.row td{
	text-decoration:italic;
}
th.status{
	width:5%;
}
th.name{
	width:20%;
}
th.des{
	width:40%;
	padding:5px 5px 5px 5px;
}
th.date{
	width:8%;
}
th.pr{
	width:7%;
}
th.func1{
	width:6%;
}
th.func2{
	width:5%;
}
td.date, td.pr, td.func1, td.func2 {
	text-align: center;
}

/* Grid CSS */
.row::after {
  content: "";
  clear: both;
  display: table;
  margin: 1.2em;
}
.col-1 { width: 8.33%; }
.col-2 { width: 16.66%; }
.col-3 { width: 25%; }
.col-4 { width: 33.33%; }
.col-5 { width: 41.66%; }
.col-6 { width: 50%; }
.col-7 { width: 58.33%; }
.col-8 { width: 66.66%; }
.col-9 { width: 75%; }
.col-10 { width: 83.33%; }
.col-11 { width: 91.66%; }
.col-12 { width: 100%; }

button[type=submit] {
	background-color: #5a5a47;
	border: none;
	color: white;
	border-radius: 15px 15px;
	padding: 10px 20px;
	text-decoration: none;
	margin: 4px 2px;
	cursor: pointer;
}

.success { color: #5cb85c; }
.danger { color: #d9534f; }
.warning { color: #ff9800; }
.info { color: #2196F3; }

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
li {
    float: left;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
a.active {
    background-color: #4CAF50;
}
/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

