body{
	color:black;
	background-color:rgb(248, 242, 232);
	left-margin:10px;
	right-margin:10px;
	padding: 0% 10%;
	align-content: center;
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1, h2, h3,
h4, h5, h6, p {
	text-align: center;
}
small {
	font-size: 50%;
}
table{
	width:95%;
	border-collapse:collapse;
	table-layout:fixed;
}
td
{
	border: rgba(224, 119, 70, 1) 1px solid;
	word-wrap:break-word;
	text-align: center;
	margin: auto;
}
table#close{

	table-layout:default;
	border-collapse:seperate;
	border-spacing: 5px 5px;
	border:none;
	vertical-align:top;
}
table.none
{
	border:none;
	vertical-align:top;
}
table.none td
{
	border: none;
}
div#new_form{
	width: fit-content;
	background-color: #333;
	color: white;
	padding:  2px 10px;
	margin: 100px auto;
}
table#new_form
{
	border-width: 10px;
	border:none;
	vertical-align:top;
	width: max-content;
	/* margin: auto; */
	/* align-content: center; */
	padding: 5%;
}

/* Top donators */
table#top_donators
{
	color: white;
	width: auto;
	margin:auto;
	width: 60%;
}
table#top_donators tr td
{
	width: 30%;
}
table#top_donators tr td.left.under {
	background-color: #302e28;
}
table#top_donators tr td.middle.under {
	background-color: #4e4c42;
}
table#top_donators tr td.right.under {
	background-color: #141411;
}
table#top_donators tr td.left {
	font-size: 100%;
}
table#top_donators tr td.middle {
	font-size: 110%;
}
table#top_donators tr td.right {
	font-size: 90%;
}

/* Donor table */
table#donor_list
{
	margin-bottom: 30px;
}
table#donor_list tr:first-child th
{
	background:#0f1113;
	color: white;
}
table#donor_list tr:nth-child(even)
{
	background:#f3f1e3;
}
table#donor_list tr:nth-child(odd)
{
	background:#f1ecda;
}
table#donor_list tr.done
{
	color: grey;
}
td.centered {
	vertical-align: middle;	
}
tr.row td{
	text-decoration:italic;
}
th.status{
	width:5%;
}
th.name{
	width:20%;
}
th.des{
	width:40%;
	padding:5px 5px 5px 5px;
}
th.date{
	width:8%;
}
th.pr{
	width:7%;
}
th.func1{
	width:6%;
}
th.func2{
	width:5%;
}
td.date, td.pr, td.func1, td.func2 {
	text-align: center;
}

/* Grid CSS */
.row::after {
  content: "";
  clear: both;
  display: table;
  margin: 1.2em;
}
.col-1 { width: 8.33%; }
.col-2 { width: 16.66%; }
.col-3 { width: 25%; }
.col-4 { width: 33.33%; }
.col-5 { width: 41.66%; }
.col-6 { width: 50%; }
.col-7 { width: 58.33%; }
.col-8 { width: 66.66%; }
.col-9 { width: 75%; }
.col-10 { width: 83.33%; }
.col-11 { width: 91.66%; }
.col-12 { width: 100%; }

button[type=submit] {
	background-color: #5a5a47;
	border: none;
	color: white;
	border-radius: 15px 15px;
	padding: 10px 20px;
	text-decoration: none;
	margin: 4px 2px;
	cursor: pointer;
}

.success { color: #5cb85c; }
.danger { color: #d9534f; }
.warning { color: #ff9800; }
.info { color: #2196F3; }

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
li {
    float: left;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
a.active {
    background-color: #4CAF50;
}
/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

