<html>

<head>
	<title>{{t}}</title>
</head>
<style>
	h1 {
		font-family: "Arial Black", Gadget, sans-serif;
	}

	body {
		background-color: white;
	}
</style>

<body>
	<h1>{{h}}</h1>
	<hr>
	<h3>Update tasks with a reference</h3>
	<form action="/action3" method="POST">
		{% for task in tasks %}
		Unique Object ID : {{ task['_id'] }}<br />
		<input type="text" name="_id" value="{{ task['_id'] }}" hidden>

		<table>
			<tr>
				<td>Donor</td>
				<td> : </td>
				<td><input type="text" name="name" value="{{ task['name'] }}" placeholder="{{ task['name'] }}"></td>
			</tr>
			<tr>
				<td>Date</td>
				<td> : </td>
				<td><input type="text" name="date" value="{{ task['date'] }}" placeholder="{{ task['date'] }}"></td>
			</tr>
			<tr>
				<td>Done?</td>
				<td> : </td>
				<td><select name="done" required>
						<option value="no">No</option>
						<option value="yes">Yes</option>
					</select></td>
			</tr>
			<tr>
				<td>Password</td>
				<td> : </td>
				<td>
					<input type="password" name="password" placeholder="Password" />
				</td>
			</tr>
		</table>
		{% endfor %}
		<button type="submit" name="button" value="update"> Update </button>
		<button type="submit" name="button" value="delete"> Delete </button>
		<br />
	</form>
	<a href="/">Return to List</a>
</body>

</html>